// Reset

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
 
/* HTML5 display-role reset for older browsers */
 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
 
body {
  line-height: 1; }
 
ol, ul {
  list-style: none; }
 
blockquote, q {
  quotes: none; }
 
blockquote {
  &:before, &:after {
    content: '';
    content: none; } }
 
q {
  &:before, &:after {
    content: '';
    content: none; } }
 
table {
  border-collapse: collapse;
  border-spacing: 0; }
  
  
// Includes


@import "reset";
@import "bits";
@import "type";
@import "player";
@import "compass/css3";




// Structure

html {
  height: 100%;
}

#nav-contain {
  height: auto;
  max-width: 512pt;
  margin-left: 10pt;
  padding: 0px 10pt 0px 10pt;
}


#contain {
  max-width: 512pt;
  margin: 50px auto 0px auto;
  padding: 0px 20pt 150pt 20pt;
  img {
	max-width: 100%;
  }
}


header {
  height: 130pt;
  padding-top: 20pt;
  vertical-align: middle;
  margin: 10pt auto 10pt auto;
  border-bottom: 1pt solid #F3F3F3;
  max-width: 512pt;
}

.logo {
  width: 180pt;
  margin: 0px auto 0px auto;
  padding-bottom: 18pt;
  vertical-align: middle;
  color: $Yellow;
  img {
    width: 180pt;
  }
}

nav {
  width: 100%;
  font-size: .75em;
  max-width: 512pt;
	font-weight: 800;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-align: center;
	vertical-align: center;
	display: inline-block;
	li {
  	min-width: 30pt;
		display:inline;
		padding-right: 1em;
		padding-left: 1em;
	}
	ul {
  	vertical-align: center;
	}
	a {
		text-decoration: none;
		color: $MiddleGrey;
		border-bottom:none;
	}
	.selected {
  	color: $DarkGrey;
  	border-bottom: 2pt solid $Yellow;
	}
}

nav a {
    color: $DarkGrey;
    text-decoration: none;
}



.img {
	float: left;
	max-width: 80%
}


.file-link {
  text-align: center;
	line-height: 0%;
	a {
	font-weight: 400;
	font-size: 1.1em;
	line-height: normal;
	color: $MiddleGrey;
	border-bottom: 1px solid $MiddleGrey;
	}
}





small {
	padding: 0 auto;
}


.left-half {
  width: 50%;
  padding: 0px 10pt 0px 10pt;
}


.right-half {
  width: 50%;
  padding: 0px 10pt 0px 10pt;
}




footer {
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 110pt;
  background: $Yellow;
  width: 100%;
  font-size: .75em;
	font-weight: 800;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-align: center;
	vertical-align: center;
	display: inline-block;
	li {
  	min-width: 30pt;
		display:inline;
		padding-right: 1em;
		padding-left: 1em;
	}
	ul {
  	vertical-align: center;
  	margin-bottom: 1.5em;
	}
	a {
		text-decoration: none;
		color: $DarkGrey;
		border-bottom:none;
	}
	p {
  	color: rgba(0, 0, 0, 0.3);
  	margin-bottom: 2em;
	}
}

#footer-contain {
  height: auto;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 512pt;
  padding: 0px 10pt 0px 10pt;
  p {
  	margin-bottom: 2em;
	}

}






// For Printers

@media print {
  body { font-size: 12px; }
  header { border: 0;padding: 0; margin: 0; text-align: center; }
  .downloads, .byline, footer { display: none; }
  header hgroup { border: 0; padding: 0; margin: 0; }
  header h1 { margin: 0; padding: 0; font-size: 3em; border: 0; }
  header h2 { border: 0; margin: 0; }
  .downloads, footer { display: none; }
  section { border: 0; }
}



















