<footer>

  <div id="footer-contain">

    <ul>
    <li><a href="{{site.meta['iTunes']}}">iTunes</a></li>

    <li><a href="{{site.permalink}}/podcast/archive">Archive</a></li>
    <li><a href="{{site.meta['Feed']}}">RSS <i class="icon-rss"></i></a></li>
    </ul>

    <ul class="social">
    <li><a href="{{site.meta['Soundcloud']}}"><i class="fa-soundcloud fa"></i></a></li>
    <li><a href="{{site.meta['Instagram']}}"><i class="fa-instagram fa"></i></a></li>
    <li><a href="{{site.meta['Twitter']}}"><i class="fa-twitter fa"></i></a></li>
    <li><a href="{{site.meta['Facebook']}}"><i class="fa-facebook fa"></i></a></li>
    </ul>


    <p>
    Open sourced in <a href="{{site.meta['GitHub']}}">Siteleaf</a><br>
    &copy; {{ site.date | date: "%Y"  }} {{ site.meta['Copyright'] }}
    </p>

  </div>

</footer>


</html>
