<footer>
  
  <div class="left-half">
    <h1>About</h1>
    {{site.meta['About']}}
  </div>
  
  <div class="right-half">
    <h1>Contact</h1>
    {{site.meta['Contact']}}
  </div>
  
  
  <ul>
  {% for page in site.pages %}
    <li><a href="{{page.url}}"{% if page.url == url %} class="selected"{% endif %}>{{page.title}}</a></li>
  {% endfor %}
  <li><a href="{{site.meta['FeedPress']}}">RSS <i class="icon-rss"></i></a></li>
  </ul>

  
    Made with &#9829; in {{site.meta['Location']}}<br>
    &copy; {{ site.date | date: "%Y"  }} {{ author.fullname }}
</footer>


</html>