<footer>
  
  <div id="footer-contain">
  
    <ul>
    <li><a href="{{site.meta['iTunes']}}">iTunes</a></li>
    <li><a href="{{site.meta['Twitter']}}"><i class="icon-twitter"></i></a></li>
    <li><a href="{{site.meta['Instagram']}}"><i class="icon-instagram"></i></a></li>
    <li><a href="{{site.meta['Facebook']}}"><i class="icon-facebook"></i></a></li>
    <li><a href="{{site.permalink}}/archive">Archive</a></li>
    <li><a href="{{site.meta['Feed']}}">RSS <i class="icon-rss"></i></a></li>
    </ul>

  
    <p>Made with <i class="icon-heart"></i> in {{site.meta['Location']}}<br>
    &copy; {{ site.date | date: "%Y"  }} {{ site.meta['Copyright'] }}
    </p>
    
  </div>
  
</footer>


</html>