<!-- Header and Nav -->
<header>
  <nav role="navigation">
      <div class="logo"><a href="{{site.permalink}}"><img src="../../img/logo.svg" onerror="this.onerror=null; this.src='../../img/logo.png'" alt="Not Lost">
      </div>
    <ul>
  {% for page in site.pages %}
    <li><a href="{{page.url}}"{% if page.url == url %} class="selected"{% endif %}>{{page.title}}</a></li>
  {% endfor %}
    <li><a href="{{site.meta['iTunes']}}">Subscribe</a></li>
    <li><a href="{{site.meta['Live']}}">Live</a></li>
  </ul>
  </nav>
</header>