<div id="contain">

  {% capture 'content' %}

    <section class="article">
      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{ title }}</h1>
          </hgroup>
        </header>

        {% if {{post.meta['Audio URL']}} %}
          <audio class="audio-player" id="player" src="{{post.meta['Audio URL']}}" type="audio/mp3" controls="controls" style="width:100%; height:100%;">
            Your browser does not support the audio element.
          </audio>
          <p class="download-button">Download: <a href="{{{post.meta['Audio URL']}}">MP3</a></h4>
          <hr>
        {% endif %}

        {% if {{post.meta['Episode Number']}} %}
        <h6>Episode #{{post.meta['Episode Number']}} <span class="permalink-icon"><a href="{{ post.url }}"><i class="icon-link"></i></a></span></h6>
        {% endif %}

        {% if post.taxonomy.Tags %}
        <ul class="list_horizontal">
        {% for tag in post.taxonomy.Tags | limit: 5 %}
        <li><a class="list_horizontal" href="{{tag.url}}">{{tag.value}}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        <p class="post-body">{{ body }}</p>

        {% include 'includes/share' %}
      </article>
    </section>
</div>

  {% endcapture %}

  {% include 'layouts/default' %}
