<div id="contain">
  
  <h5>Latest Episode</h5>

  {% for post in current.posts limit:1%}
  {% if post.meta.link %}
    <span class="link-post-title"><a href="{{ post.meta.link }}">{{ post.title }}</a></span>
    <span class="link-icon"><i class="icon-chevron-right"></i></span>
    <br>
    <div class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time><span class="permalink-icon"><a href="{{ post.url }}"><i class="icon-link"></i></a></span></div>
    
    {% if {{post.meta['Audio URL']}} %}
      <audio class="audio-player" id="player" src="{{post.meta['Audio URL']}}" type="audio/mp3" controls="controls" style="width:100%; height:100%;">
        Your browser does not support the audio element.
      </audio>
      <p class="download-button">Download: <a href="{{{post.meta['Audio URL']}}"><b>MP3</b></a></h4>
      <hr>
    {% endif %}


    
    <div class="link-excerpt">{{ post.excerpt }}</div>
  {% endif %}

  {% unless post.meta.link %}
    <span class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></span>
    <br>
    <div class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time><span class="permalink-icon"><a href="{{ post.url }}"><i class="icon-link"></i></a></span></div>
    
    {% if {{post.meta['Audio URL']}} %}
      <audio class="audio-player" id="player" src="{{post.meta['Audio URL']}}" type="audio/mp3" controls="controls" style="width:100%; height:100%;">
        Your browser does not support the audio element.
      </audio>
      <p class="download-button">Download: <a href="{{{post.meta['Audio URL']}}"><b>MP3</b></a></h4>
      <hr>
    {% endif %}
    
    {% if {{post.meta['Audio URL']}} %}
    <div class="sponsor">{{ post.meta.Sponsor }}</div>
    {% endif %}
    
    <div class="excerpt">{{ post.excerpt }}</div>
  {% endunless %}

  {% endfor %}

</div>
