<div id="contain">

  <h5>Latest Broadcast</h5>

  {% for post in current.posts limit:1%}
  {% if post.meta.link %}
    <span class="link-post-title"><a href="{{ post.meta.link }}">{{ post.title }}</a></span>
    <span class="link-icon"><i class="icon-chevron-right"></i></span>
    <br>
    {% if {{post.meta['Episode Number']}} %}
    <h6>Episode #{{post.meta['Episode Number']}}</h6>
    {% endif %}

    {% if post.taxonomy.Tags %}
    <ul class="list_horizontal">
    {% for tag in post.taxonomy.Tags | limit: 5 %}
      <li><a class="list_horizontal" href="{{tag.url}}">{{tag.value}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

  {% if {{post.meta['Episode Number']}} %}
    <audio class="audio-player" id="player" src="{{site.meta['Feed Press URL']}}{{post.meta['Episode Number']}}.mp3" type="audio/mp3" controls="controls" style="width:100%; height:100%;">
    Your browser does not support the audio element.
    </audio>
    <button onclick="_gs('event', 'Clicked Download button')">
      <p class="download-button">Download: <a href="{{site.meta['Feed Press URL']}}{{meta['Episode Number']}}.mp3">MP3</a></h4>
    </button>
  {% endif %}




    <div class="link-excerpt">{{ post.excerpt }}</div>
  {% endif %}

  {% unless post.meta.link %}
    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

<!-- Date
<div class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>


-->

{% if {{post.meta['Episode Number']}} %}
<h6>Episode #{{post.meta['Episode Number']}} <span class="permalink-icon"><a href="{{ post.url }}"><i class="icon-link"></i></a></span></h6>
{% endif %}

{% if post.taxonomy.Tags %}
<ul class="list_horizontal">
{% for tag in post.taxonomy.Tags | limit: 5 %}
  <li><a class="list_horizontal" href="{{tag.url}}">{{tag.value}}</a></li>
{% endfor %}
</ul>
{% endif %}

    {% if {{post.meta['Episode Number']}} %}
      <audio class="audio-player" id="player" src="{{site.meta['Feed Press URL']}}{{post.meta['Episode Number']}}.mp3" type="audio/mp3" controls="controls" style="width:100%; height:100%;">
      Your browser does not support the audio element.
      </audio>
      <button onclick="_gs('event', 'Clicked Download button')">
        <p class="download-button">Download: <a href="{{site.meta['Feed Press URL']}}{{meta['Episode Number']}}.mp3">MP3</a></h4>
      </button>
    {% endif %}


    {% if {{post.meta['Audio URL']}} %}
    <div class="sponsor">{{ post.meta.Sponsor }}</div>
    {% endif %}

    <div class="excerpt">{{ post.excerpt }}</div>
  {% endunless %}

  {% endfor %}

</div>
